
node_modules/
dist/

.vscode/
.idea/

/test
/testing
/covarege

/build/
build/
/dist
dist/

.env
.env.*
secrets.json

*.class

*.py[cod]

.cache/

.eslintcache
*.log
*.logs

*.jar

target/
dist/

.idea/

TEST*.xml

.DS_Store

Thumbs.db

*.app
*.exe
*.war

*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv