@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Bebas+Neue&family=Overpass:ital,wght@0,400;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(imgs/carsales2.jpg);
  background-position: center;
  background-size: cover;
  padding-left: 6.2%;
  padding-right: 8%;
  box-sizing: border-box;
}

.navbar {
  height: 12%;
  display: flex;
  align-items: center;
  font-family: "Bebas Neue", Arial, sans-serif;
}

.logo {
  width: 50px;
  cursor: pointer;
}

.search-icon {
  width: 30px;
  height: 30px;
  margin: 30px;
  cursor: pointer;
  margin-left: 40px;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 60px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
}

.row {
  display: flex;
  height: 88%;
  align-items: center;
}

.col {
  flex-basis: 50%;
  font-family: Overpass, sans-serif;
}

.col h1 {
  color: #fff;
  font-size: 90px;
}

.col p {
  color: #fff;
  font-size: 14px;
  line-height: 15px;
  font-style: italic;
}

.explore {
  width: 180px;
  color: #000;
  font-size: 14px;
  padding: 12px 0;
  background: #fff;
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;
  font-family: "Bebas Neue", Arial, sans-serif;
}

.looking {
  display: flex-box;
  margin-top: 5%;
  margin-left: 280px;
}

.card {
  width: 200px;
  height: 230px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  margin: 10px 15px;
  box-sizing: border-box;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
}

.card1 {
  background-image: url(imgs/mercedescruise.jpg);
}

.card2 {
  background-image: url(imgs/mercedeshistory.jpg);
}

.card3 {
  background-image: url(imgs/mercedesdealer.jpg);
}

.card4 {
  background-image: url(imgs/socials.jpg);
}

.card:hover {
  transform: translateY(-10px);
}

h5 {
  color: #000;
  text-shadow: 0 0 3px #000;
  font-size: 14px;
}

.card p {
  text-shadow: 0 0 15px #000;
  font-size: 13px;
}

.title {
  padding: 60px;
  color: #000;
  font-size: 35px;
  font-family: "Bebas Neue", Arial, sans-serif;
  text-align: center;
}

.models-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.models {
  width: 40%;
  margin: 10px;
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
  border-radius: 15px;
}

.models:hover {
  transform: scale(1.1); /* Adjust the scale factor as needed */
}

.models::before {
  content: "";
  display: block;
  padding-top: 80%; /* Maintain aspect ratio for the background image */
}

.models-content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  width: 96.8%;
  background: rgba(0, 0, 0, 0.7); /* Adjust background color and opacity */
  border-radius: 15px;
}

.models-content h2 {
  text-align: center;
}

.buildmodels {
  width: 180px;
  color: #000;
  font-size: 14px;
  padding: 12px 0;
  background: #fff;
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;
  font-family: "Bebas Neue", Arial, sans-serif;
  margin-left: 25px;
}

.allmodels {
  width: 180px;
  color: #000;
  font-size: 14px;
  padding: 12px 0;
  background: #fff;
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;
  font-family: "Bebas Neue", Arial, sans-serif;
  margin-left: 175px;
}