/* Navbar in the main.css */

/* About styles */
.about-container {
  width: 100%;
  padding: 43px 20px;
  box-sizing: border-box;
}

.about-section h1 {
  text-align: center;
  font-size: 4rem;
  font-family: var(--defaultFontFamily);
}

.overview-section {
  font-family: var(--secondFontFamily);
}

.about-section {
  max-width: 800px;
  margin: 0 auto;
  background-color: var(--primaryColor);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.about-section h2 {
  font-size: 36px;
  margin-bottom: 20px;
  font-family: var(--defaultFontFamily);
  letter-spacing: 1px;
}

.about-section p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 16px;
}

/* Footer Section in the main.css */