body {
  margin: 0;
  padding: 0;
}

/* Background image */
.container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../imgs/menu/background.jpg);
  background-position: center;
  background-size: cover;
  padding-left: 6.2%;
  padding-right: 8%;
  box-sizing: border-box;
}
/* Nav bar with logo and search */
.navbar {
  height: 12%;
  display: flex;
  align-items: center;
  font-family: "Bebas Neue", Arial, sans-serif;
}

.logo {
  width: 50px;
}

.search-icon {
  width: 30px;
  height: 30px;
  margin: 30px;
  cursor: pointer;
  margin-left: 40px;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 60px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
}
/* About styles */
.about-container {
  width: 100%;
  padding: 43px 20px;
  box-sizing: border-box;
}

.about-section h1 {
  text-align: center;
  font-size: 4rem;
  font-family: "Bebas Neue", Arial, sans-serif;
}

.overview-section {
    font-family: "Overpass:ital", Arial, sans-serif;
}

.about-section {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.about-section h2 {
  font-size: 36px;
  margin-bottom: 20px;
  font-family: "Bebas Neue", Arial, sans-serif;
  letter-spacing: 1px;
}

.about-section p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 16px;
}
/* Footer styles */
footer {
  background-color: #000;
  color: #fff;
  padding: 30px 0;
  font-family: "Bebas Neue", Arial, sans-serif;
  letter-spacing: 2px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-section {
  flex: 1;
  margin: 0 1.25rem;
}

.footer-section.about {
  margin-bottom: 1.25rem;
  margin-left: 3.75rem;
}

.footer-section h3 {
  color: #66ff99;
  font-size: 1.12rem;
}

.footer-section p {
  margin-top: 10px;
  font-size: 14px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-section img {
  width: 1.87rem;
}

.footer-section.logo {
  text-align: center;
}

.footer-section.logo img {
  width: 5rem;
}

.footer-section.contact {
  text-align: center;
}

.contact-button {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.contact-button:hover {
  background-color: #ff0000;
}

.contact-button.custom-color {
  color: #000;
}

.footer-section.social {
  text-align: center;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
}

.social-icons img {
  width: 30px;
}

.footer-bottom {
  text-align: center;
  padding-top: 10px;
  border-top: 1px solid #555;
  font-size: 12px;
}
