/* Contact form */
.custom-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-info {
  width: 45%;
  font-family: "Bebas Neue", Arial, sans-serif;
}

.contact-info img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.contact-info p {
  color: #333;
  font-size: 16px;
  line-height: 1.5;
}

.contact-info a {
  color: #007bff;
}

.contact-form {
  width: 45%;
  font-family: "Overpass:ital", Arial, sans-serif;
}

#contact-form {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
}

#contact-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-columns {
  display: flex;
  justify-content: space-between;
}

.form-column {
  width: 48%;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #fff;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}

#subject {
  width: calc(100% + 257px); /* Adjust the width to cover both columns and add some padding */
  margin-right: -257px; /* Compensate for the extra width */
  resize: vertical;
}

label[for="subject"] {
  display: block;
  margin-bottom: 8px;
  color: #fff;
}

button {
  background-color: #fff;
  color: #007bff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #ddd;
}

/* Footer Section in the main.css */