/* Navbar in the main.css */

/* FAQ styles */
.faq-container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.faq-section {
  max-width: 800px;
  margin: 0 auto;
  background-color: var(--primaryColor);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  font-family: var(--defaultFontFamily);
  letter-spacing: 1px;
}

.faq-section h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.faq-item {
  cursor: pointer;
  margin-bottom: 20px;
}

.faq-item h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.faq-item p {
  display: none;
  font-size: 14px;
  line-height: 1.6;
  font-family: var(--secondFontFamily);
}

/* for cellphones and tablets */
@media only screen and (max-width: 768px) {
  .faq-section {
    padding: 10px;
  }

  .faq-section h2 {
    font-size: 28px;
  }

  .faq-item h3 {
    font-size: 16px;
  }

  .faq-item p {
    font-size: 12px;
  }
}

/* Footer styles in main.css */