.models {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
  margin: 0 auto;
  max-width: 80%;
}

.image-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.image-container:hover {
  transform: scale(1.05);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.overlay {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  overflow: hidden;
  max-height: 1.5rem;
  transition: max-height 0.5s ease-in-out;
}

.overlay p,
.overlay button {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.overlay button {
  cursor: pointer;
}

.image-container:hover .overlay {
  max-height: 100vh;
}

.image-container:hover .overlay p,
.image-container:hover .overlay button {
  opacity: 1;
}

h2,
p,
button {
  color: var(--primaryColor);
  font-family: var(--defaultFontFamily);
}

h2 {
  letter-spacing: 1px;
}

button {
  color: var(--secondColor);
  background-color: var(--primaryColor);
  margin: 8px;
  padding: 8px;
}

@media (min-width: 601px) and (max-width: 900px) {
  .models {
    grid-template-columns: repeat(2, 1fr);
  }

  .image-container {
    position: relative;
  }
}

@media (min-width: 901px) {
  .models {
    grid-template-columns: repeat(3, 1fr);
  }

  .image-container {
    overflow: hidden;
  }
}

@media (min-width: 1200px) {
  .models {
    grid-template-columns: repeat(3, 1fr);
  }
}